.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style-type: none;
    display: flex;

    .active {
      background-color: darkslateblue;
    }
  }
}
